@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #233;
  --color-secondary: #fff;
  --color-text: #233;
  --color-surface: #d0e2e211;
  --color-secondary-surface: #d0e2e23d;
}

.dark {
  --color-primary: #fff;
  --color-secondary: #233;
  --color-text: #fff;
  --color-surface: #233;
  --color-secondary-surface: #d0e2e23d;
  /* --color-secondary-surface: #d0e2e262; */
}

.btn {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 0.4rem 1rem;
}
.btn:hover {
  background-color: var(--color-secondary-surface);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: all 0.3s ease-in-out;
}

.input {
  background-color: transparent;
  color: var(--color-text);
  padding: 0.4rem 1rem;
  padding-left: 2rem;
  border: 1.2px solid var(--color-text);
  /* width: 100%; */
}

.input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}
.card {
  border: 1.2px solid var(--color-text);
}

body {
  min-height: 100vh;
  background-color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  opacity: 0.3;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-text) transparent;
}

.root {
  background: var(--color-primary);
  font-family: "Plus Jakarta Sans", sans-serif;
}
